


/* variables for any future changes */

:root {
    --size-width-card: 220px; 
    --size-height-card: 400px; 

    --radius-card: 10px; 
    --radius-button: 6px; 

    --color-button:       hsla(350, 70%, 70%, 1);
    --color-button-hover: rgb(71, 71, 240);

    --color-text-darkgray: hsla(0, 10%, 15%, .9);
    --color-text-lightgray: hsla(360, 100%, 90%, .25);

    --shadow-card:  rgba(50, 50, 93, 0.5) 0px 2px 3px -1px,
                    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    --shadow-description:  rgba(50, 50, 93, 0.5) 0px .5px .5px 0px;
}



/* BUTTON stuff */

/* this is targeting ALL BUTTONS in the project; pretty sure it's a global target */
button {
    cursor: pointer;
    box-shadow: var(--shadow-card);
}
/* so all buttons behave the same; when ACTIVE === when the user clicks on the button it will scale up for a little user feedback */
button:active {
    transform: scale(1.05);
    transition: 100ms;
}

/* this is targeting just the button contained in the pizza card; a local change */
.pizza-card button {
    background-color: var(--color-button);
    border-radius: var(--radius-button);
    border: none;
    padding: 5%;
}
.pizza-card button:hover {
    background-color: var(--color-button-hover);
    color: white; 
}



/* this is the CARD that contains our image, pizza name, cost, button, and description */
.pizza-card {
    /* border: 1px solid black;  */
    width: var(--size-width-card);
    height: var(--size-height-card);
    /* if the description gets too big lets have the user scroll */
    
    line-height: 1.3;
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-card);
    color: var(--color-text-darkgray);
}
/* slight hover color over the card itself */
.pizza-card:hover {
    background-color: var(--color-text-lightgray);
}



/* IMAGE giving the image a set width that's the same as .pizza-card */

.pizza-card img{
    width: var(--size-width-card);
    height: 165px;
    /* this centers the image within the givin width x height */
    object-fit: cover;
    /* just rounding the top corners to match the card radius */
    border-top-left-radius: var(--radius-card);
    border-top-right-radius: var(--radius-card);
}


/* INFO */

/* NAME of pizza */
.pizza-card h4 {
    margin: 10px 0 30px 0;
    height: 20px;
    align-content: center;
}

/* PRICE of pizza */
.pizza-card h5 {
    margin: 10px 0 10px 0;
}

/* DESCRIPTION of pizza */
.pizza-card p {
    padding: 10px;
    font-size: .8rem;
    overflow: scroll;
    height: 60px;
    box-shadow: var(--shadow-description);

}

